@model EgeAlpProject.Models.CarBrand

@{
    ViewData["Title"] = "Edit";
}

<div class="categories-area" style="padding-top:40px ; padding-bottom:40px">
    <div class="container">
<h1>Edit</h1>

<h4>CarBrand</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p><button class="btn-outline-dark" asp-action="ManageImage" asp-route-id="@Model.Id">Upload Image</button></p>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn-outline-dark" />
                <button class="btn-outline-dark" asp-action="Index">Cancel</button>
            </div>
        </form>
    </div>
</div>
</div></div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
