@{
    ViewData["Title"] = "Home Page";
}
<html class="js sizes no-customelements history pointerevents postmessage webgl websockets cssanimations csscolumns csscolumns-width csscolumns-span csscolumns-fill csscolumns-gap csscolumns-rule csscolumns-rulecolor csscolumns-rulestyle csscolumns-rulewidth csscolumns-breakbefore csscolumns-breakafter csscolumns-breakinside flexbox picture srcset webworkers" lang="zxx">
<body style="overflow: visible;">
    <!--? Preloader Start -->
    <div id="preloader-active" style="display: none;">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img alt="" src="~/assets/img/logo/loder.jpg">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <main>
        <!--? slider Area Start-->
        <div class="slider-area ">
            <div class="slider-active slick-initialized slick-slider">
                <!-- Single Slider -->

                <div class="slick-list draggable">
                    <div class="slick-track" style="width: 919px; opacity: 1;">
                        <div tabindex="0" class="single-slider slider-height d-flex align-items-center slick-slide slick-current slick-active" aria-hidden="false" style="left: 0px; top: 0px; width: 919px; position: relative; z-index: 999; opacity: 1;" data-slick-index="0">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xl-9 col-lg-9">
                                        <div class="hero__caption">
                                            <h1>Safe &amp; Reliable <span>Logistic</span> Solutions!</h1>
                                        </div>
                                        <!--Hero form -->
                                        <form class="search-box" action="#">
                                            <div class="input-form">
                                                <input tabindex="0" type="text" placeholder="Your Tracking ID">
                                            </div>
                                            <div class="search-form">
                                                <a tabindex="0" href="#">Track &amp; Trace</a>
                                            </div>
                                        </form>
                                        <!-- Hero Pera -->
                                        <div class="hero-pera">
                                            <p>For order status inquiry</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <!--? our info Start -->
        <div class="our-info-area pt-70 pb-40">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-info mb-30">
                            <div class="info-icon">
                                <span class="flaticon-support"></span>
                            </div>
                            <div class="info-caption">
                                <p>Call Us Anytime</p>
                                <span>+ (123) 1800-567-8990</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-info mb-30">
                            <div class="info-icon">
                                <span class="flaticon-clock"></span>
                            </div>
                            <div class="info-caption">
                                <p>Sunday CLOSED</p>
                                <span>Mon - Sat 8.00 - 18.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-info mb-30">
                            <div class="info-icon">
                                <span class="flaticon-place"></span>
                            </div>
                            <div class="info-caption">
                                <p>Columbia, SC 29201</p>
                                <span>USA, New York - 10620</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- our info End -->
        <!--? Categories Area Start -->
        <div class="categories-area section-padding30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-80">
                            <span>Our Services</span>
                            <h2>What We Can Do For You</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-shipped"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">Land Transport</a></h5>
                                <p>The sea freight service has grown conside rably in recent years. We spend timetting to know your processes to.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-ship"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">Ship Transport</a></h5>
                                <p>The sea freight service has grown conside rably in recent years. We spend timetting to know your processes to.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-plane"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">Air Transport</a></h5>
                                <p>The sea freight service has grown conside rably in recent years. We spend timetting to know your processes to.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

</body>
</html>
