@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
    <div class="categories-area" style="padding-top:40px ; padding-bottom:40px">
        <div class="container">
            <h1>@ViewData["Title"]</h1>
            </div></div>
