@model EgeAlpProject.Models.Car

@{
    ViewData["Title"] = "Create";
}


    <div class="categories-area" style="padding-top:40px ; padding-bottom:40px">
        <div class="container">
            <h1>Create</h1>

            <h4>Car</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CarBrandId" class="control-label"></label>
                            <select asp-for="CarBrandId" class="form-control" asp-items="ViewBag.CarBrandId"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="CarModel" class="control-label"></label>
                            <input asp-for="CarModel" class="form-control" />
                            <span asp-validation-for="CarModel" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="year" class="control-label"></label>
                            <input asp-for="year" class="form-control" />
                            <span asp-validation-for="year" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="VehicleKm" class="control-label"></label>
                            <input asp-for="VehicleKm" class="form-control" />
                            <span asp-validation-for="VehicleKm" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FuelType" class="control-label"></label>
                            <select asp-for="FuelType" class="form-control">
                                <option value="0">Gas</option>
                                <option value="1">Diesel</option>
                            </select>
                        </div>
                        <span asp-validation-for="FuelType" class="text-danger"></span>
                        <div class="form-group">
                            <label asp-for="AvgCons" class="control-label"></label>
                            <input asp-for="AvgCons" class="form-control" />
                            <span asp-validation-for="AvgCons" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tansmission" class="control-label"></label>
                            <select asp-for="Tansmission" class="form-control">
                                <option value="0">Automatic</option>
                                <option value="1">Manual</option>
                            </select>
                            <span asp-validation-for="Tansmission" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="city" class="control-label"></label>
                            <select asp-for="city" class="form-control">
                                <option value="0">Istanbul</option>
                                <option value="1">Ankara</option>
                                <option value="2">Izmir</option>
                            </select>
                            <span asp-validation-for="Tansmission" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Location" class="control-label"></label>
                            <input asp-for="Location" class="form-control" />
                            <span asp-validation-for="Location" class="text-danger"></span>
                        </div>



                        <div class="form-group">
                            <input type="submit" value="Create" class="btn-outline-dark" />
                            <button class="btn-outline-dark" asp-action="Index">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
